body {
  color: white;
  margin-top: 3rem;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url("introstarting.jpeg");
  font-family: system-ui;
  font-size: 15px;

}
.col-8{
    background:rgba(0,0,0,0.3);
    color:black;
    margin-top: 25px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 17px;
    height: 680px;

}
.col-3{
    background:rgba(255,255,255,0.3);
    color: black;
    margin-top: 25px;
    margin-right: 20px;
    margin-left: 15px;
    border-radius: 17px;
    height: 680px;



}

.row-7{
    background:rgba(255,255,255,0.3);
    height: 400px;
    margin-top: 25px;
    margin-right: 20px;
    margin-left: 15px;
    border-radius: 17px;
    padding: 25px;


}
.row-5{

    height: 200px;
    background:rgba(255,255,255,0.3);
    margin-top: 25px;
    margin-right: 20px;
    margin-left: 15px;
    border-radius: 17px;
    padding-top: 30px;
    padding-left: 30px;



}
.row-7-in{
   background:rgba(0,0,0,0.6);
    height: 350px;
    margin-right: 20px;
    margin-left: 15px;
    border-radius: 17px;


}
.graph-bar{
    background:rgba(0,128,0,0.45);
    border-radius: 17px;
     height:50px;

     display: flex;
    justify-content: space-between;
}
.graph-bar button {
    margin-left: auto;
    border-radius: 17px;
}


.intro{
    padding-left: 200px;
    padding-top: 100px;
    padding-right: 200px;
    font-size: 50px;

}
.intro1{
    padding-left: 200px;
    padding-top: 100px;
    padding-right: 200px;
    font-size: 50px;

}

.intro-header{
   font-size:45px;
   padding-left:300px;
   font-weight: 1000;
   margin-bottom: 40px;
   height: 100vh;

}
p{
    font-size:25px;

}


#login{
    background-color: #7d75b6;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 0.2em 0.6em;
    transition: all 0.5s;
    margin-top: 15px;
    border-radius: 15px;
}


#login:hover{
    transform: translateY(-5px);
    background: green;
    color: white;
    border-radius: 25px;
}

fieldset {
      border: 5px solid grey;
      border-radius: 25px;
      opacity: 1.0;
      padding: 50px;
      margin-bottom: 0px;
      background: black;
      color: grey;

    }

.bg-steel {
  background-color: black;
}

.content-section {
    color: white;
    font-size: 25px;
    text-align: center;

}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

#last{
  color:black;
}
.display-text-profile{
    color: black;
    font: system-ui;
    font-size: 20px;
    font-weight: 700;

}


