body {
  color: white;
  margin-top: 3rem;
  background: linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.85)),url("introstarting.jpeg");
  font-family: system-ui;
  font-size: 15px;

}
.intro{
    padding-left: 200px;
    padding-top: 100px;
    padding-right: 200px;
    font-size: 50px;

}
.intro1{
    padding-left: 200px;
    padding-top: 100px;
    padding-right: 200px;
    font-size: 50px;

}

.intro-header{
   font-size:45px;
   padding-left:300px;
   font-weight: 1000;
   margin-bottom: 40px;
   height: 100vh;

}
p{
    font-size:25px;

}

#login{
    background-color: #7d75b6;
    color: white;
    font-size: 25px;
    font-weight: 500;
    padding: 0.3em 0.5em;
    transition: all 0.5s;
    margin-top: 15px;
}


#login:hover{
    transform: translateY(-5px);
    background: green;
    color: white;
}

fieldset {
      border: 5px solid grey;
      opacity: 1.0;
      padding: 50px;
      margin-bottom: 0px;
      background: black;
      color: grey;
    }

.bg-steel {
  background-color: black;
}

.content-section {
    color: white;
    font-size: 25px;
    text-align: center;
    height: 200vh;
    overflow: hidden;
    padding : 10px;
    margin: 0;
}


.col-8 {
    background: black;
    margin-top: 20px; /* Adjust top margin */
    margin-bottom: 40px; /* Adjust bottom margin */
    margin-left: 20px; /* Adjust left margin */
    margin-right: 40px; /* Adjust right margin */
    height: 600px;
}
.col-8 {
    background: black;
    margin-top: 20px; /* Adjust top margin */
    margin-bottom: 40px; /* Adjust bottom margin */
    margin-left: 20px; /* Adjust left margin */
    margin-right: 40px; /* Adjust right margin */
    height: 600px;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

#last{
  color:black;
}

